@import "../universal-styles.scss";

// Colors
$about-bkgd: #fafafa;
// $about-bkgd:#fdf7a1ad;

$hover-clr: #5796e9;
$desktop-h1-clr: $black;
$mobile-h1-clr: $black;
$font-clr: #1f1f1f;
$link-hover-clr: #5796e9;

// Measurements
// heights / widths
$mobile-about-height: 60vh;
$mobile-about-width: 100vw;
$desktop-about-height: 100vh;
$desktop-about-width: 27vw;
$tablet-about-height: 28vh;
$tablet-about-width: 100vw;
// H1 sizes
$desktop-h1-size: 30px;
$tablet-h1-size: 25px;
$mobile-h1-size: 24px;
// font Sizes
$desktop-font-size: 13px;
$tablet-font-size: 14px;
$mobile-font-size: 12px;
// line height
$desktop-line-height: 25px;
$mobile-line-height: 19px;
// margins
$margin-top: 45px;

h1.title {
  color: #414141;
  font-family: Montserrat, sans-serif;
  font-weight: 800;
}

// SHARED STYLES
.desktop__about,
.tablet__about {
  overflow: hidden;
  background-color: $about-bkgd;
  font-family: $font;
  color: $font-clr;

  >h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    color: $desktop-h1-clr;
  }

  span:hover {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32'><circle cx='16' cy='16' r='8' fill='%23ff654a'/></svg>") 16 16, auto;
  }
}

// Mobile-specific styles
.mobile__about {
  font-family: $font;
  color: $font-clr;
  height: 450px !important;

  span {
    text-decoration: underline;
  }

  display: flex;
  flex-direction: column;
  height: $mobile-about-height;
  line-height: $mobile-line-height;
  font-size: $mobile-font-size;

  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: $mobile-h1-size;
    color: $mobile-h1-clr;
    font-weight: 900 !important;
    line-height: $mobile-line-height
  }
}

h1.mobile{
  font-weight:800 !important;
  line-height: 21px;
}

// Home Icon
.desktop__about__icon {
  // @include center-flex;
  // 	border-radius: 50%;
  // 	height:10px;
  // 	width:10px;
  // 	background-image: repeating-conic-gradient(white 0 5%, $desktop-h1-clr 5% 11%);
  //  position: absolute;
  //  top:20px;
  //  left:25px;
}

.desktop__about__icon svg:hover {
  & .cls-2 {
    fill: $hover-clr;
  }
}

.desktop-nav a {
  text-decoration: none;
}

.desktop-nav p {
  // border:$test-border;
  color: $desktop-h1-clr;
  font-weight: 600;
  font-size: 14px;

  &:hover {
    color: $hover-clr;
  }
}

// Desktop-specific styles
.desktop__about {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32'><circle cx='16' cy='16' r='8' fill='%235796e9'/></svg>") 16 16, auto;

  // height: $desktop-about-height;
  width: $desktop-about-width;
  line-height: $desktop-line-height;
  font-size: $desktop-font-size;
  padding: 3.5%;
}

// Tablet-specific styles
.tablet__about {
  height: $tablet-about-height;
  width: $tablet-about-width;
}

// Links
a {
  text-decoration: none;

  color: $font-clr;

  &:visited {
    color: $font-clr;
  }

  &:hover {
    color: $link-hover-clr;
  }
}

.desktop__about>ul,
.mobile__about>ul,
.tablet__about>div>ul {

  line-height: 22px;
  font-size: 13px;
  padding: 0;

  &>li {
    font-weight: 600;
    list-style: none;
  }

  &>li>a {
    text-decoration: none;
  }
}

.mobile__about > p {
  line-height: $mobile-line-height;
}

// Mobile social icons
.mobile__contact {
  transform: scale(0.75) translateX(-20vw);
  position: relative;
}