@import "../universal-styles.scss";

// Colors
$about-bkgd: #fdfeff;
$desktop-h1-clr: #7ab1fd;
$mobile-h1-clr: #7ab1fd;
$font-clr: #1f1f1f;
$link-hover-clr: #fd85bd;

// Measurements
// heights / widths
$mobile-about-height: 35vh;
$mobile-about-width: 100vw;
$desktop-about-height: 100vh;
$desktop-about-width: 27vw;
$tablet-about-height: 28vh;
$tablet-about-width: 100vw;
// H1 sizes
$desktop-h1-size: 30px;
$tablet-h1-size: 25px;
$mobile-h1-size: 24px;
// Font Sizes
$desktop-font-size: 13px;
$tablet-font-size: 14px;
$mobile-font-size: 12px;
// line heights
$desktop-line-height: 25px;
$mobile-line-height: 20px;
// margins
$margin-top: 45px;

// SHARED STYLES
.desktop-about,
.tablet-about,
.mobile-about {
  // border: $test-border;
  overflow: hidden;
  background-color: $about-bkgd;
  font-family: $font;
  color: $font-clr;
  > h1 {
    font-family: $font;
    color: $desktop-h1-clr;
    font-weight: 800;
  }
}

// Mobile-specific styles
.mobile-about {
  // border: $test-border;
  display: flex;
  padding-top: 10%;
  padding-left: 11%;
  padding-right: 11%;
  padding-bottom: 5%;
  margin-right: 12px;
  flex-direction: column;
  height: $mobile-about-height;
  line-height: $mobile-line-height;
  // border: $test-border;
  justify-content: space-around;
  font-size: $mobile-font-size;
  h1 {
    font-size: $mobile-h1-size;
    color: $mobile-h1-clr;
    font-weight: 800;
    line-height: $mobile-line-height + 3px;
  }
}

// Desktop-specific styles
.desktop-about {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: $desktop-about-height;
  width: $desktop-about-width;
  line-height: $desktop-line-height;
  font-size: $desktop-font-size;
  padding: 4.5%;
  > h1 {
    font-size: $desktop-h1-size;
    line-height: $desktop-line-height + 10px;
  }
}
// Tablet-specific styles
.tablet-about {
  height: $tablet-about-height;
  width: $tablet-about-width;
}

// Links
a {
  color: $font-clr;
  &:visited {
    color: $font-clr;
  }
  &:hover {
    color: $link-hover-clr;
  }
}

.desktop-about > ul,
.mobile-about > ul,
.tablet-about > div > ul {
  line-height: 22px;
  font-size: 13px;
  padding: 0;
  & > li {
    font-weight: 600;
    list-style: none;
  }
  & > li > a {
    text-decoration: none;
  }
  p {
    // height: 20px;
    // width: 35px;
    // background-color: #7ab1fd;
    // border: $test-border;
  }
}

// .mobile-about > ul {
//   font-size: 10px;
//   line-height: 17px;
// }

// Mobile social icons
.mobile-contact {
  transform: scale(0.75) translateX(-20vw);
}
