@import "../universal-styles.scss";

$blue:#5796e9;
$codeSnippets-bkgd-clr:#c9ffef ;

.codeSnippets-container {
	height:100vh;
	color:$black;
	display:flex;
	flex-direction: column;
	background-color:$codeSnippets-bkgd-clr;
	.codeSnippets__contents {
		padding-top:10%;
		padding-left:10%;
		& > p{
			font-size:18px;
		}
		.codeSnippets__h1{
			color:$black;
			padding-bottom: 25px;
			&::after{
				content:"";
				position: absolute;
				display:flex;
				height:2.5px;
				width:60vw;
				background-color: $black;	
				transform: translateY(10px);
			}
			&::before{
				content:"</>";
				position: absolute;
				transform: translate(245px);
				color:#ffb535;
			}
		}
		.codeSnippets__lists {
			display:flex;
			padding-top:40px;
			.codeSnippets__h3 {
				padding-bottom: 20px;
				padding-top:25px;
				color:$black;
			}
			ul {
				list-style-type: none;
				padding-left: 0;
				line-height: 30px;
				padding-right:200px;
			}
			a:hover{
				color:#ffb535;
			}
		}
	}
}


.codeSnippets__h3::after {
	content:"";
	position: absolute;
	display:flex;
	height:2px;
	width:20vw;
	background-color: $black;		
	transform: translateY(10px);
}


.mobileCodeSnippets-container {
	@include center-flex;
	height:480px;
	div{
		width:80vw;
	} 

	color:$black;
	font-family: $font;
	background-color:$codeSnippets-bkgd-clr ;
	h1{
		padding-top:25px;
		padding-bottom: 20px;
		font-size:20px;
		color:$black;
		&::before{
			content:"</>";
			color:#ffb535;
			position: absolute;
			transform: translateX(160px);
		}
		&::after{
				content:"";
				position: absolute;
				display:flex;
				height:2px;
				width:80vw;
				background-color: $black;	
		}
	
	}
	h3{
		font-size: 16px;
		color:$black;
		&::after{
			width:80vw;
		}
	}
	p{
		padding-bottom:18px;
		font-size:13px;
	}
	ul{
		font-size:13px;
		padding: 0;	
	}
	li{
	
		line-height: 22px;
		list-style: none;
		color:$blue;
	}
	a:hover{
		color:$blue;
		// font-weight: bold;
		// color:$blue;
	}
}






