@import "../universal-styles.scss";

$blue:#5796e9;
$codeSnippets-bkgd-clr:#c7ffc8 ;

.codeSnippets-container {
	height:100vh;
	color:$black;
	display:flex;
	flex-direction: column;
	background-color:$codeSnippets-bkgd-clr;
}

.codeSnippets__contents {
	padding-top:10%;
	padding-left:10%;
}

.codeSnippets__lists {
	display:flex;
	// justify-content: space-between;
	padding-top:40px;
	// border:1px solid blue;

	ul {
		list-style-type: none;
		padding-left: 0;
		line-height: 30px;
		padding-right:200px;
	}
}

.codeSnippets__h1{
	padding-bottom: 25px;

	&::after{
		content:"";
		position: absolute;
		display:flex;
		height:2.5px;
		width:60vw;
		background-color: $black;	
		transform: translateY(10px);

	}
	&::before{
		content:"</>";
		position: absolute;
		transform: translate(245px);
		color:#60ff60;

	}

}

	

.codeSnippets__h3 {
	padding-bottom: 20px;
	padding-top:25px;
}

.codeSnippets__h3::after {
	content:"";
	position: absolute;
	display:flex;
	height:2px;
	width:20vw;
	background-color: $black;		
	transform: translateY(10px);
}



//Mobile  Styles
.mobileCodeSnippets-container {
	display:flex;
	height:490px;
p{
	width: 80vw;
	line-height: 20px;
}


>.codeSnippets__contents> .codeSnippets__lists{

		display: inline;	
	}

	font-family: $font;
	background-color:#fffcbe ;
	background-color:#c7ffd0 ;
	h1{
		padding-top:25px;
		// padding-bottom: 20px;
		font-size:20px;
		color:$black;
		&::before{
			content:"</>";
			position: absolute;
			transform: translateX(160px);

		}
		&::after{
				content:"";
				position: absolute;
				display:flex;
				height:2px;
				width:80vw;
				background-color: $black;	
		
		}
	}
	h3{
		font-size: 16px;
		color:$black;
		&::after{
			width:40vw;
		}
	}
	p{

		font-size:13px;
	}
	ul{
		font-size:13px;
		// border:$test-border;
	
		
	}
	li{
		line-height:20px;
		color:$blue;
	}
	a:hover{
		color:$blue;
		// color:$blue;
	}
}






