@import "../universal-styles.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&display=swap");

$about-bkgd: #fffefa;
$font: "Montserrat", sans-serif;
$font-color: #1f1f1f;
$h1-size: 45px;
$link-hover-clr: red;
$margin-top: 55px;
$margin-left: 60px;

.about {
  height: 100vh;
  width: 30vw;
  overflow: hidden;
  background-color: $about-bkgd;
  font-family: $font;
  color: $font-color;
}

.about > h1 {
  font-weight: 800;
  font-size: $h1-size;
  font-family: "Montserrat", sans-serif;
  // border: $test-border;
  margin-top: $margin-top;
  margin-left: $margin-left;
}

.about-me {
  margin-left: $margin-left;
  margin-right: $margin-left * 0.8;
  margin-top: $margin-top;
  // border: $test-border;

  font-weight: 500;
  font-size: $h1-size * 0.4;
  line-height: 30px;
}

// LINKS
.about > ul {
  line-height: 25px;
  padding: 0;
  margin-left: $margin-left;
  margin-top: $margin-top;
  & > li {
    // border: $test-border;
    font-weight: 600;
    list-style: none;
    & > a {
      text-decoration: none;
    }
    & > a:visited {
      color: $font-color;
    }
    & > a:hover {
      color: $link-hover-clr;
    }
  }
}

// Pin Code
$c-soft: #e74c3c;
$shadow: #333;
$back: #ededed;
$size: 1em;


.pin {
	
}

.pin-g {
  position: absolute;
  width: 10em;
  height: 10em;

  .pin-b {
    position: relative;
    background: transparent;
    width: 45%;
    height: 45%;
    border-radius: 50%;

    box-shadow: 0 0 0 2.76em $c-soft;
    animation: 2s ease-in-out pin-circle infinite;
  }

  .pin-c {
    position: absolute;
    width: 110%;
    height: 110%;
    background: $c-soft;
    clip-path: polygon(44.7% 0%, 30% 70%, 100% 55.2%);
    transform: rotate(-45deg);
    left: -5%;
    top: 55.3%;
    animation: 2s ease-in-out pin-cone infinite;
  }

  .pin-s {
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translate(-50%) rotateX(60deg);
    border-radius: 50%;
    filter: blur(10px);
    width: 40%;
    height: 40%;
    background: rgba($shadow, 0.5);
    animation: 2s ease-in-out pin-shadow infinite;
  }
}

@keyframes pin-cone {
  0% {
    top: 55.3%;
  }
  50% {
    top: 35.3%;
  }
}

@keyframes pin-circle {
  0% {
    top: 50%;
  }
  50% {
    top: 30%;
  }
}

@keyframes pin-shadow {
  0% {
    transform: scale(1) translate(-50%) rotateX(60deg);
  }
  50% {
    transform: scale(0.7) translate(-70%) rotateX(60deg);
    background: rgba($shadow, 0.3);
  }
}
