@import "../universal-styles.scss";

// Colors
$overlay-clr: #aed0ff99;
$background-color: #ffffff;
$modal-font-clr: #65a5ff;
$modal-hover-clr: #fd85bd;
$modal-btn-clr: #fd85bd;
$modal-btn-clr2: #fff6a1;

p.hide {
  display: none;
}

.modal-overlay {
  height: 100vh;
  width: 73vw;
  position: absolute;
  top: 0;
  right: 0px;
  background-color: $overlay-clr;
}

.modal {
  height: 370px;
  width: 350px;
  position: absolute;
  right: 35px;
  top: 34px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: $background-color;
  box-shadow: rgba(0, 0, 0, 0.09) 1px 3px 12px;
}

.modal__button {
  height: 30px;
  width: 30px;
  position: absolute;
  right: -12px;
  top: -12px;
  border: none;
  border-radius: 50%;
  background-color: $modal-btn-clr;
  color: $modal-btn-clr2;
  font-weight: 900;
  &:hover {
    animation: spin 0.5s;
		cursor:pointer;
  }
}

.modal__content {
  padding: 16%;
  padding-right: 14%;
  p {
    font-size: 13px;
    line-height: 22px;
    color: $modal-font-clr;
    span {
      color: $modal-hover-clr;
      display: inline-block;
      animation: abouthover 3s infinite;
    }
    p.hide {
      display: none;
    }
  }
  a {
    color: $modal-font-clr;
    &:visited {
      color: $modal-font-clr;
    }
    &:hover {
      color: $modal-hover-clr;
    }
  }
}

// Tablet Specific Styles
.tablet__modal {
  width: 100vw;
  > .modal {
    height: 330px;
    width: 300px;
		> .modal__content {
  
			a {
				color: $modal-hover-clr;
			}
    }
  }
}

// Mobile Specific Styles
.mobile__modal {
  top: 39.9vh;
  height: 100vh;
  width: 100vw;

  > .modal {
    top: 3.5vh;
    right: 30px;
    height: 260px;
    width: 250px;
    > .modal__content {
      p {
        line-height: 18px;
				font-size: 11px;
      }
			a {
				color: $modal-hover-clr;
			}
    }
    > .modal__button {
      background-color: $modal-btn-clr;
      color: $modal-btn-clr2;
    }
  }
}

// Keyframes
@keyframes spin {
  100% {
    transform: rotate(-180deg);
  }
}

@keyframes abouthover {
  50% {
    transform: translateY(-5px);
  }
}
