@import "../universal-styles.scss";

$shelves-width: 73vw;

$contact-clr: #5796e9;
$contact-clr2: #fd85bd;



.vertical-text{
  writing-mode: sideways-lr;
  text-orientation: mixed;
}

.desktop__shelves-container {
   cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32'><circle cx='16' cy='16' r='8' fill='%235796e9'/></svg>") 16 16, auto;
	display: relative;
	right:0;
  height: 100vh;
  width: $shelves-width;
  @include center-flex();
  background-color: $wall-clr;
  overflow: hidden;
}

.info-button {
  position: absolute;
  right: 25px;
  top: 20px;
	&:hover {
		cursor: pointer;
	}
  &:hover > svg {
    fill: $contact-clr;
    animation: info-spin 0.5s;
  }
}

@keyframes info-spin {
  100% {
    transform: rotate(360deg);
  }
}
