*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

$test-border: 2px solid blue;
$wall-clr: #e7f2ff;

@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
