@import "../universal-styles.scss";

// Colors
$wall-clr: #ddedff;

// Measurements
$shelves-width: 73vw;

.desktop {
  display: flex;
  overflow: hidden;
}
.desktop-shelves-container {
  // border: $test-border;
  height: 100vh;
  width: $shelves-width;
  @include center-flex();
  background-color: $wall-clr;
  overflow: hidden;
}
