@import "../../universal-styles.scss";

// Colors
// desktop shelf
$shelf-clr: #b6a195;
$shelf-clr2: #6e635c;
$shelf-clr: #757575;
$shelf-clr2: #4e4e4e;
$bracket-clr: #686868;
$bracket-clr2: #4e4e4e;
$shelf-shadow-clr: #7e8394;
// tablet shelf
$t-shelf-clr: #af9893;
$t-shelf-clr2: #7c6767;
$t-bracket-clr: #414141;
$t-bracket-clr2: #636363;
$t-shelf-shadow-clr: #7e8394;

// Measurements
$desktop-shelves-width: 73vw;
$tablet-shelves-width: 80vw;

$shelf-height: 15px;
$desktop-shelf-width: 55vw;

// Shares Styles
.desktop-shelves,
.tablet-shelves {
  overflow: hidden;
  @include center-flex();
  flex-direction: column;
  justify-content: space-evenly;
}

.shelf-contents {
  // border: $test-border;
  width: $desktop-shelf-width;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
}

// Desktop-specific styles
.desktop-shelves {
  height: 108vh;
  width: $desktop-shelves-width;
}

// Tablet-specific styles
.tablet-shelves {
  height: 80vh;
  width: $tablet-shelves-width;
}

// Shelf styles
.shelf {
  height: $shelf-height;
  width: $desktop-shelf-width;
  margin-top: 0px;
  display: flex;
  background-image: linear-gradient($shelf-clr 0 70%, $shelf-clr2 70% 100%);
  justify-content: space-around;
  box-shadow: 0 10px 15px -2px $shelf-shadow-clr;
  border-radius: 2px;
  // Bracket Styles
  &::before {
    content: "";
    margin-top: 15px;
    // background-color: $bracket-clr;
    background-image: linear-gradient(
      $bracket-clr 0 70%,
      $bracket-clr2 70% 100%
    );
    height: 20px;
    width: 12px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  &::after {
    content: "";
    margin-top: 15px;
    background-image: linear-gradient(
      $bracket-clr 0 70%,
      $bracket-clr2 70% 100%
    );
    height: 20px;
    width: 12px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
  }
}

// Tablet-specific shelf styles
.tablet-shelf {
  width: $tablet-shelves-width;
  background-image: linear-gradient($t-shelf-clr 0 70%, $t-shelf-clr2 70% 100%);
  box-shadow: none;
  &::before {
    background-image: linear-gradient(
      $t-bracket-clr 0 70%,
      $t-bracket-clr2 70% 100%
    );
  }
  &::after {
    background-image: linear-gradient(
      $t-bracket-clr 0 70%,
      $t-bracket-clr2 70% 100%
    );
  }
}
