@import "../universal-styles.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&display=swap");

// Font
$about-font: "Montserrat", sans-serif;

// Measurements
$mobile-about-height: 68vh;
$mobile-container-height: 50vh;
$p-font-size: 11.5px;
$padding-size: 10vw;

// Colors
$mobile-about-bkg: #fffefa;
$h1-clr: #405572;
// CSS art container colors
$css-container-clrs: #eaf4ff, #fff6d6, #ffece6, rgb(226, 255, 248), #ffeee8;
@for $i from 1 to 5 {
  $color: nth($css-container-clrs, $i);
  .mobile-box-art-#{$i} {
    background-color: $color;
  }
}

// $background-colors
.mobile {
  font-family: $about-font;
}

// Css Art Container
.mobile-box {
  // border: $test-border;
  height: $mobile-container-height;
}
.mobile-box-art {
  // border: $test-border;
  @include center-flex;
  height: $mobile-container-height * 0.7;
}

.mobile-box-text {
  // border: $test-border;
  @include center-flex;
  // text-align: center;
  font-size: 10px;
  line-height: 20px;
  padding-left: $padding-size;
  padding-right: $padding-size;
  height: $mobile-container-height * 0.3;
  background: $mobile-about-bkg;
}

// Mobile Radio
.mobile-radio {
}
